/*Game of Life*/

#lifeBoard {
  width: 640px;
  height: 500px;
  background-color: black;
  border: 4px solid darkblue;
  margin: auto;
}

#lifeControlBar {
	width: 640px;
	height: 100px;
	background-color: lightgray;
	border: 4px solid darkblue;
}

.tile {
  width: 6px;
  height: 6px;
  float: left;
}

.alive {
  background-color: yellow;
  border: 2px solid yellow;
}

.dead {
  background-color: #282828;
  border: 2px solid black;
}

.test {
  background-color: green;
  border: 1px solid black;
}
