/*Turret*/

#raidArea {
	border: 20px solid black;
	height: 400px;
	width: 600px;
}

#raidCanvas {
	background-color: white;
	height: 100%;
	width: 100%;
}

/*area below the board, contains turnDisplay and resetButton*/
.hotbar {
	height: 54px;
}

#controlSelect {
	clear: left;
}

.skillButton {
	height: 50px;
	width: 50px;
	float: left;
	border: 2px solid darkgray;
	background-color: black;

	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 75%;
}

.skillSpacer {
	height: 50px;
	width: 20px;
	float: left;
}

.cooldownTextContainer {
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
	float: left;
	color: white;
}

.skillButtonKeybindDisplay {
	width: 25px;
	height: 25px;
	position: relative;

	top: 25px;
	left: 25px;
}

.skillButtonKeybindDisplay div {
	height: 25px;
	width: 25px;
	color: white;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	text-align: center;
	vertical-align: middle;
	position: absolute;
}

#coreSkills {
	display: block;
	width: 344px;
	margin-left: auto;
	margin-right: auto;
}

#otherSkills {
	display: block;
	width: 398px;
	margin-left: auto;
	margin-right: auto;
}

#gcdDisplay {
	height: 50px;
	line-height: 45px;
	width: 50px;
	float: left;
	text-align: center;
	vertical-align: middle;
	border: 2px solid black;
}

.skillOnCooldown {
	background-color: black;
	background-size: 50%;
	color: white;
	text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
	opacity: 1;
}

.skillSelected {
	border: 2px solid yellow;
}

.skillCasting {
	border: 2px solid aqua;
}

.skillProcced {
	background-color: aqua;
}

.skillOutOfRange {
	background-color: red;
}

#resultsReport {
	margin-top: 10px;
	padding-left: 10px;
	border: 5px solid gray;
	display: none;
}

#damageBreakdown {
	border: 2px solid black;
}

.damageBreakdownBar {
	background-color: black;
	height: 20px;
}

#qSkill {
	background-image: url("../images/Raid/Skills/icon_lightningBolt.jpg");

}

#eSkill {
	background-image: url("../images/Raid/Skills/icon_stormStrike.jpg");
}

#oneSkill {
	background-image: url("../images/Raid/Skills/icon_lavaLash.jpg");
}

#twoSkill {
	background-image: url("../images/Raid/Skills/icon_frostShock.jpg");
}

#threeSkill {
	background-image: url("../images/Raid/Skills/icon_flameShock.jpg");
}

#fourSkill {
	background-image: url("../images/Raid/Skills/icon_crashLightning.jpg");
}

#zSkill {
	background-image: url("../images/Raid/Skills/icon_bloodlust.jpg");
}

#xSkill {
	background-image: url("../images/Raid/Skills/icon_ascendance.jpg");
}

#vSkill {
	background-image: url("../images/Raid/Skills/icon_feralSpirit.jpg");
}

#rSkill {
	background-image: url("../images/Raid/Skills/icon_windfuryTotem.jpg");
}

#fSkill {
	background-image: url("../images/Raid/Skills/icon_sundering.jpg");
}

#cSkill {
	background-image: url("../images/Raid/Skills/icon_spiritWalk.jpg");
}

#fiveSkill {
	background-image: url("../images/Raid/Skills/icon_ghostWolf.jpg");
}
