/*Turret*/

#turretArea {
	border: 20px solid black;
	height: 400px;
	width: 600px;
}

#turretCanvas {
	background-color: white;
	height: 100%;
	width: 100%;
}

/*area below the board, contains turnDisplay and resetButton*/
#turretAreaFooter {
	margin: auto;
	height: 40px;
	width: 600px;
}

/*displays current player's turn*/
#scoreDisplay {
  float: left;
  font-size: 2em;
  height: 100%;
  line-height: 40px;
  padding-left: 10px;
  font-weight: bold;

  /*make text un-highlightable*/
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  cursor: default;
}
